.animate-up {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.animate-up.in-view {
  opacity: 1;
  transform: translateY(0);
}


#contact-form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: auto;
}

#contact-form label {
  margin: 0.5em 0 0.2em;
}

#contact-form input, #contact-form textarea {
  padding: 0.5em;
  margin-bottom: 1em;
}

#contact-form button {
  padding: 0.7em;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
}